.upload {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .edit-profile {
        width: 200px;
        display: flex;
        position: absolute;
        top: 167px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        cursor: pointer;

        .edit-icon {
            width: 100%;
            height: 200px;
            padding: 70px;
            visibility: hidden;
            color: #e9ecef91;
            border-radius: 50%;

        }

        &:hover .edit-icon{
            background-color: #e9ecef5d;
            visibility: visible;
          }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .profile {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .profile_image {
            width: 200px;
            margin-top: 20px;
            border-radius: 50%;
        }

        .label {
            padding: 5px 0px;
            font-weight: bold;
            font-size: 16px;
        }


        .custom-file-upload {

        }

        .button_field {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .upload_button {
                width: 6rem;
                height: 3rem;
                margin: 1rem 0rem;
                border-radius: 10px;
                border: none;
                background-color: #17252a;
                color: white;
                cursor: pointer;
            }
        }

    }




}

  