@import '../../styles/abstract/mixins';

.settings {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    background-color: #3AAFA9;

    &__left {
        width: 0%;
    }
    &__right {
        width: 100%;

        &__content {
            width: 100%;
            @include flex-center(flex,column,center,center);
            margin-top: 2rem;
        }
    }

}