.header {
    display: flex;
    background-color: #17252a;
    align-items: center;
    height: 60px;

    &_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            color: white;
        }
    }

    &_image {
        margin-top: 5px;
        width: 50px;
        padding: 0 5px;
    };

    &_buttons {
        position: absolute;
        right: 20px;
        .default {
            display: flex;
            text-decoration: none;
            .login_button {
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 10px;
                background-color: white;

                .login {
                    text-decoration: none;
                    color: #17252a;
                }
            }
            .signup_button {
                margin-right: 20px;
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 10px;
                background-color: white;
            }
            .login_button:hover {
                background-color: #cccccc;
            }
            .signup_button:hover {
                background-color: #cccccc;
            }

        }


        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            
            &_image {
                margin-left: 10px;
                width: 40px;
            }

            h3 {
                display: flex;
            }
        }
    }
}

.profile_image {
    border-radius: 100px;
    padding: 5px;
}

.profile_image:hover {
    background-color: #e2e2e265;
}