.header {
    display: flex;
    background-color: #17252a;
    align-items: center;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &_bar {
        display: flex;
        align-items: center;
        color: white;
        font-size: 30px;
        margin: 0 10px;
        padding: 5px;
        border-radius: 15px;
    }

    &_bar:hover{
        background-color: rgba(128, 128, 128, 0.507);
        cursor: pointer;
    }
    &_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            color: white;
        }
    }

    &_image {
        margin-top: 5px;
        width: 45px;
        padding: 0 5px;
    };

    &_buttons {
        position: absolute;
        right: 5px;
        cursor: pointer;

        .default {
            display: flex;
            text-decoration: none;
            .login_button {
                padding: 5px 10px;
                border: none;
                outline: none;
                border-radius: 10px;
                background-color: white;
                margin-right: 10px;

                .login {
                    text-decoration: none;
                    color: #17252a;
                }
            }
            .signup_button {
                margin-right: 20px;
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 10px;
                background-color: white;
            }
            .login_button:hover {
                background-color: #cccccc;
            }
            .signup_button:hover {
                background-color: #cccccc;
            }

        }


        .profile {
            padding: 3px 0px;
            border-radius: 25px;
            margin: 0px 15px;

            &_image {
                width: 35px;
                border-radius: 50%;
            }

            h3 {
                display: flex;
                margin-right: 10px;
            }
        }
    }
}

