@import '../../styles/abstract/mixins'; 

.dragdroptask {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #3AAFA9;
    @include flex-center(flex,row,center,none);


    .content {
        width: 100%;
        padding: 2rem;
        @include flex-center(flex,column,none,center);
    }

}