@import '../../styles/abstract/mixins';

.signup-form {
    width: 100%;
    height: 100vh;
    @include flex-center(flex,row,Center,Center);

    &_wrapper {
        width: 50%;
        border: 1px solid gray;
        height: 400px;

        .form-group{
            @include flex-center(flex,column,center,center);
        }
    }

}