@import '../../styles/abstract/mixins';
@import '../../styles/components/button';

.signup-form {
    width: 100%;
    height: calc(100vh - 60px);
    @include flex-center(flex,row,Center,Center);
    background-color: #3AAFA9;

    &_wrapper {
        width: 25%;
        height: 600px;

        .form {
            width: 100%;
            height: 520px;
            padding: 3rem 1rem;
            @include flex-center(flex,column,none,center);
            background-color: white;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            .register {
                margin-top: 2rem;
                // margin-bottom: 2rem;
                color: #17252a;
            }

            .form-group{
                @include flex-center(flex,column,center,center);
    
                padding: 10px;
    
                input {
                    padding: 1rem 1.5rem;
                    margin-bottom: 1rem;
                }

            }
        }


    }

}

@media only screen and (max-width: 600px) {
    .signup-form {
        width: 100%;
        height: calc(100vh - 130px);
        @include flex-center(flex,column,center,center);
        background-color: #3AAFA9;
    
        &_wrapper {
            width: 80%;
            margin-top: 20px;
    
            .form {
                width: 100%;
                height: 550px;
                padding: 3rem 1rem;
                @include flex-center(flex,column,none,center);
                background-color: white;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
                .register {
                    margin-top: 2rem;
                    // margin-bottom: 2rem;
                    color: #17252a;
                }
    
                .form-group{
                    @include flex-center(flex,column,center,center);
        
                    padding: 10px;
        
                    input {
                        padding: 1rem 1.5rem;
                        margin-bottom: 1rem;
                    }

                    .button {
                        width: 200px;
                    }
    
                }
            }
    
    
        }
    
    }
}
