@import '../../styles/abstract/mixins';
@import '../../styles/components/button';

.home {
    width: 100%;
    height: calc(100vh - 60px);
    // background: url('../../images/background.png') no-repeat;
    background-size: cover;
    background-color: #3AAFA9;
    @include flex-center(flex, row, center, center);

    &__container {
        color: #17252a;
        width: 50%;
        @include flex-center(flex, column, center, center);

        h1{
            font-size: 60px;
        }
    }
}

@media only screen and (max-width: 600px){
    .home {
        width: 100%;
        height: calc(100vh - 130px);
        background-size: cover;
        background-color: #3AAFA9;
        @include flex-center(flex, row, center, center);
    
        &__container {
            color: #17252a;
            width: 100%;
            @include flex-center(flex, column, center, center);
    
            h1{
                font-size: 30px;
            }
        }
    }
}