.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    background-color: #255c53;
    color: white;
}

.start-button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 0rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #255c53;
}