.button {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0rem;
    width: 14rem;
    border-radius: 10px;
    border: none;
    background-color: #17252a;
    color: white;
}

.start-button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 0rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #17252a;
}

.create-button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 0rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    background-color: #17252a;
    color: white;
}