.dropdownprofile {
    position: absolute;
    top: 3.8rem;
    right: 0.6rem;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
    
    &__icon__profile {
        width: 25px;
        margin-left: 3px;
        margin-right: 10px;
    }
    &__icon__setting {
        width: 30px;
        margin-right: 6px;
    }
    &__icon__logout {
        width: 25px;
        margin-right: 10px;
    }
}

.dropdownprofile::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 1.4rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
}

.dropdown_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    margin: 15px 0px;
    li {
        display: flex;
        align-items: center;
        padding: 10px 10px;
    }
    a {
        text-decoration: none;
        color: #17252a;
    }
}

.dropdown_list :hover{
    background-color: rgb(214, 214, 214);
}
